body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	background-color: #777;
	width: 960px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
}

header {
	padding: 30px;
	margin-bottom: 10px;
}

nav {
	padding: 30px;
	margin-bottom: 20px;
}

section {
	position: relative;
	width: 475px;
	padding: 30px 10px 10px 10px;
	margin-bottom: 10px;
	float: left;
}

article {
	background-color: #777;
	color: #ebebeb;
	padding: 20px;
}

h2 {
	margin: 0 0 10px 0;
	padding: 30px;
}

p {
	margin: 0;
	padding: 30px;
}

aside {
	height: 328px;
	width: 385px;
	padding: 30px;
	margin-bottom: 20px;
	float: right;
}

footer {
	padding: 30px;
	clear: both;
}

.color1 {
	background-color: #ebebeb;
	color: #777;
}

